<h2> {{title}} </h2>

<div>
	<form>
		<label for="dataToVis"> Data to Vis: </label>
		<select (change)="drawCharts()" class="form-control" id="dataToVis" required [(ngModel)]="dataToVis" name="dataToVis">
			<option value="TotalPop">Total Population</option>
			<option value="Men">Men</option>
			<option value="Women">Women</option>
			<option value="Hispanic">Hispanic</option>
			<option value="White">White</option>
			<option value="Black">Black</option>
			<option value="Native">Native</option>
			<option value="Asian">Asian</option>
			<option value="Pacific">Pacific</option>
			<option value="Citizen">Citizen</option>
			<option value="Income">Income</option>
			<option value="IncomeErr">Income Err</option>
			<option value="IncomePerCap">Income Per Cap</option>
			<option value="IncomePerCapErr">Income Per Cap Err</option>
			<option value="Poverty">Poverty</option>
			<option value="ChildPoverty">Child Poverty</option>
			<option value="Professional">Professional</option>
			<option value="Service">Service</option>
			<option value="Office">Office</option>
			<option value="Construction">Construction</option>
			<option value="Production">Production</option>
			<option value="Drive">Drive</option>
			<option value="Carpool">Carpool</option>
			<option value="Transit">Transit</option>
			<option value="Walk">Walk</option>
			<option value="OtherTransp">Other Transp</option>
			<option value="WorkAtHome">Work At Home</option>
			<option value="MeanCommute">Mean Commute</option>
			<option value="Employed">Employed</option>
			<option value="PrivateWork">Private Work</option>
			<option value="PublicWork">Public Work</option>
			<option value="SelfEmployed">Self Employed</option>
			<option value="FamilyWork">Family Work</option>
			<option value="Unemployment">Unemployment</option>
		</select>
	</form>
</div>

<div class="filters">
	<p> Data Filters: </p>
	<ul>
		<li *ngFor="let filter of filters">{{ filter.state }} - {{ filter.county }}</li>
	</ul>
</div>

<div>
	<p><b> Add Filter </b></p>
	<form>
		<label for="location"> State </label>
		<select (change)="changeOptions()" class="form-control" id="state" required [(ngModel)]="state" name="state">
			<option value="Alabama">Alabama</option>
			<option value="Alaska">Alaska</option>
			<option value="Arizona">Arizona</option>
			<option value="Arkansas">Arkansas</option>
			<option value="California">California</option>
			<option value="Colorado">Colorado</option>
			<option value="Connecticut">Connecticut</option>
			<option value="Delaware">Delaware</option>
			<option value="District.of.Columbia">District of Columbia</option>
			<option value="Florida">Florida</option>
			<option value="Georgia">Georgia</option>
			<option value="Hawaii">Hawaii</option>
			<option value="Idaho">Idaho</option>
			<option value="Illinois">Illinois</option>
			<option value="Indiana">Indiana</option>
			<option value="Iowa">Iowa</option>
			<option value="Kansas">Kansas</option>
			<option value="Kentucky">Kentucky</option>
			<option value="Louisiana">Louisiana</option>
			<option value="Maine">Maine</option>
			<option value="Maryland">Maryland</option>
			<option value="Massachusetts">Massachusetts</option>
			<option value="Michigan">Michigan</option>
			<option value="Minnesota">Minnesota</option>
			<option value="Mississippi">Mississippi</option>
			<option value="Missouri">Missouri</option>
			<option value="Montana">Montana</option>
			<option value="Nebraska">Nebraska</option>
			<option value="Nevada">Nevada</option>
			<option value="New.Hampshire">New Hampshire</option>
			<option value="New.Jersey">New Jersey</option>
			<option value="New.Mexico">New Mexico</option>
			<option value="New.York">New York</option>
			<option value="North.Carolina">North Carolina</option>
			<option value="North.Dakota">North Dakota</option>
			<option value="Ohio">Ohio</option>
			<option value="Oklahoma">Oklahoma</option>
			<option value="Oregon">Oregon</option>
			<option value="Pennsylvania">Pennsylvania</option>
			<option value="Rhode.Island">Rhode Island</option>
			<option value="South.Carolina">South Carolina</option>
			<option value="South.Dakota">South Dakota</option>
			<option value="Tennessee">Tennessee</option>
			<option value="Texas">Texas</option>
			<option value="Utah">Utah</option>
			<option value="Vermont">Vermont</option>
			<option value="Virginia">Virginia</option>
			<option value="Washington">Washington</option>
			<option value="West.Virginia">West Virginia</option>
			<option value="Wisconsin">Wisconsin</option>
			<option value="Wyoming">Wyoming</option>
			<option value="Puerto.Rico">Puerto Rico</option>
		</select>

		<label for="location"> County </label>
		<select class="form-control" id="county" required [(ngModel)]="county" name="county">
			<option *ngFor="let option of selectOptions" value="{{option.county}}" class="{{option.state}}">{{option.county}}</option>
		</select>

		<span class="link" (click)="addFilter()"> Add Filter </span> | <span class="red-text link" (click)="clearFilters()"> Clear Filters </span>
	</form>
</div>


<div class="bar">
	<!-- locationsArray[{ state: Alabama, county: Any }], dataToVis -->
	<!-- [], CountiesArray[], Unemployment -->
</div>

<svg width="960" height="500"></svg>
<div id="chart-area">
	
</div>
<!-- <svg id="pie-keys"></svg> -->

<style type="text/css">
	.bar {
	  fill: red;
	}

	.bar:hover {
	  fill: yellow;
	}
</style>
